# Arquivos de compilação
*.log
*.bak
*.tmp

# Diretórios
node_modules/
build/
dist/

# Arquivos de configuração
.env
.env.local

server/config.js

server/public/images/


# Dependendo do seu ambiente e linguagem de programação, você pode precisar adicionar mais entradas para arquivos e diretórios específicos.
/.vs
